# Build output
output/

# Compiled DT overlays (generated during build)
overlay/boot/overlay-user/*.dtbo

# Copied application files/dependencies (generated during build from src/)
overlay/opt/equip1/equip1d/
overlay/opt/equip1/uis/
overlay/opt/equip1/fonts/
overlay/opt/equip1/requirements.txt
overlay/opt/equip1/lib/
overlay/opt/equip1/.requirements.sha256
